:root{
    --primary-color: #1b1c30;
    --secondary-color: #f46c95;
}

body{
    font-family: 'Tilt Neon', cursive;
    background-color: var(--primary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    color: var(--secondary-color);
    background: linear-gradient(90deg, var(--primary-color) 60%, #f46c9596);
    font-size: 1.2rem;
}
header div{
    max-width: 40%;
}
header div span{
    color: #fff;
}

.btn{
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}
.btn:hover{
    transform: translateY(2px);
}

.btn a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}
.btn:hover a{
    color: #fff;
}

.reverse{
    background-color: var(--secondary-color);
}

.reverse a {
    color: #fff;
    color: var(--primary-color);
}

.reverse:hover a {
    color: #fff;
}

.img-container{
    width: 18%;
}

/* Main */
main{
    font-size: 1.1rem;
}

/* Description */
.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 0;
    color: #fff;
    background-color: #1f2036;
    text-align: justify;
}

.description-container .img-about{
    width: 15%;
    margin-right: 3rem;
    border-radius: 50%;
    box-shadow: -5px 3px 5px 3px #16172c;
    overflow: hidden;
}
.description-container .img-about:hover{
    animation: rotation .5s linear alternate;
}

@keyframes rotation{
    from{
        transform: rotate3d(0, 1, 0, 0deg);
    }to{
        transform: rotate3d(0, 1, 0, 360deg);
    }
    
}

.description-container .content-about{
    max-width: 40%;
}

.description-container .content-about button{
    margin-right: 1rem;
}

/* Skills */
.skills-container{
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 5rem;
}

.skills-container h1{
    font-size: 2.5rem;
}

.inner-skills{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.inner-skills img{
    width: 7vw;
    transition: .6s;
}
.inner-skills img:hover{
    scale: 1.2;
}

/* Footer */
footer{
    text-align: center;
    color: #fff;
    padding: 1rem;
}

/* Medias Queries */
@media (max-width: 1400px){
    header{
        font-size: 1.2rem;
    }

    main{
        font-size: 1.1rem;
    }

    .description-container .img-about{
        width: 17%;
    }

    .inner-skills img{
        width: 8vw;
    }
    
}

@media (max-width: 1300px){
    header{
        font-size: 1.1rem;
    }

    .img-container{
        width: 22%;
    }

    main{
        font-size: 1rem;
    }

    .description-container .img-about{
        width: 18%;
    }

    .inner-skills img{
        width: 10vw;
    }

    .btn{
        font-size: .7rem;
    }
}

@media (max-width: 1000px){
    .img-container{
        width: 25%;
    }

    .description-container{
        display: block;
        padding: 3rem 0rem;
        text-align: center;
    }

    .description-container .img-about{
        width: 15%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .description-container .content-about{
        max-width: 50%;
        margin: 0 auto;
    }

    .description-container .content-about h1{
        margin-bottom: .5rem;
    }

    .description-container .content-about div > button{
        margin: 0rem .5rem;
        margin-top: 1.5rem;
    }

    .description-container .content-about p {
        text-align: justify;
    }

    .btn{
        font-size: .7rem;
    }

    .skills-container h1{
        font-size: 2rem;
    }
}

@media (max-width: 700px){
    header div{
        max-width: 50%;
    }

    .description-container .img-about{
        width: 20%;
    }

    .description-container .content-about{
        max-width: 60%;
    }

    .btn{
        padding: .8rem 1.3rem;
        font-size: .7rem;
    }

    .inner-skills img{
        width: 13vw;
    }
}

@media (max-width: 600px){
    header{
        font-size: 1rem;
    }

    main{
        font-size: .9rem;
    }

    .description-container .content-about{
        max-width: 70%;
    }

    .btn{
        padding: .8rem 1.3rem;
    }

    .inner-skills{
        gap: 1.2rem;
        margin: 1.2rem 0;
    }

    .inner-skills img{
        width: 25%;
    }
}

@media (max-width: 400px){
    header{
        font-size: .95rem;
        padding-top: 3rem;
    }

    header div {
        max-width: 40%;
    }

    header > div:nth-child(1){
        margin-bottom: 1rem;
    }

    .img-container{
        width: 30%;
    }

    main{
        font-size: .9rem;
    }
 
    .description-container{
        padding: 2rem 4rem;
    }

    .description-container .img-about{
        width: 35%;
    }
    .description-container .content-about{
        max-width: 100%;
    }

    .description-container .content-about div > button{
        margin: 0rem .3rem;
        margin-top: 1rem;
    }

    .btn{
        padding: .6rem 1rem;
        font-size: .6rem;
        margin-top: 1rem;
    }

    .skills-container{
        padding: 2rem;
    }

    .skills-container h1{
        font-size: 1.5rem;
    }

    .inner-skills{
        gap: 1rem;
        margin: 1rem 0;
    }

    .inner-skills img{
        width: 15vw;
    }

    footer{
        font-size: .8rem;
    }
}

@media (max-width: 370px){
    header{
        font-size: .8rem;
        padding-top: 4rem;
        justify-content: flex-start;
        position: relative;
    }

    header > div:nth-child(1){
        max-width: 60%;
        padding-left: 2rem;
        margin-bottom: 10px;
    }

    main{
        text-align: center;
    }

    .description-container{
        padding: 2rem;
    }

    .img-container{
        width: 30%;
        right: 10px;
        bottom: 0;
        position: absolute;
    }

    .inner-skills img{
        width: 15vw;
    }
}