:root{
    --primary-color: #1b1c30;
    --secondary-color: #f46c95;
}

body{
    font-family: 'Tilt Neon', cursive;
    background-color: var(--primary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--secondary-color);
    padding: .5rem 0;
}
header div{
    max-width: 40%;
}
header div span{
    color: #fff;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: .3s;
}
nav a:hover{
    color: var(--secondary-color);
}

.btn{
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
}
.reverse{
    background-color: var(--secondary-color);
    color: #fff;
}

.img-container{
    width: 20%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 3px #16172c;
    overflow: hidden;
}

/* Main */

/* Description */
.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5rem 0;
    color: #fff;
    background-color: #2b2c44;
}

.description-container .img-about{
    width: 15%;
    margin-right: 3rem;
}

.description-container .content-about{
    max-width: 40%;
}

.description-container .content-about button{
    margin-right: 1rem;
}

/* Skills */
.skills-container{
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 5rem;
}

.skills-container h1{
    font-size: 2.5rem;
}

.inner-skills{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.inner-skills img{
    width: 6%;
    transition: .7s;
}
.inner-skills img:hover{
    scale: 1.2;
}

/* Footer */
footer{
    text-align: center;
    color: #fff;
    padding: 1rem;
}